.navbar {
    background-color: #ffffff; /* Colore di sfondo per la modalità light */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar.dark-mode {
    background-color: #333333; /* Colore di sfondo per la modalità dark */
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333333; /* Colore del testo per la modalità light */
  }
  
  .navbar.dark-mode ul li a {
    color: #ffffff; /* Colore del testo per la modalità dark */
  }
  
  .navbar button {
    background-color: transparent;
    border: none;
    color: #333333; /* Colore del testo per la modalità light */
    cursor: pointer;
  }
  
  .navbar.dark-mode button {
    color: #ffffff; /* Colore del testo per la modalità dark */
  }
  